@{ 
    ViewData["Title"] = "Sikeres Regisztráció";
}
<div class="insetContent">
    <p>Sikeres regisztráció!</p>
    <a asp-area="" asp-controller="Users" asp-action="LogIn">Tovább a Bejelentkezéshez</a>
    <br />
    <a asp-area="" asp-controller="Home" asp-action="Index">Vissza a főoldalra</a>
</div>