body {
    background-color: gray;
}
.errorMessage {
    color: red;
}
.insetContent{
    width: 60%;
    margin: auto;
    border: 2px inset beige;
    border-radius: 4px;
    background-color: #FFF8;
    padding: 2em;
}
.insetContentMain{
    width: 100%;
    margin: auto;
    border: 2px inset beige;
    border-radius: 4px;
    background-color: #FFF8;
    padding: 2em;
}
table {
    width: 100%;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.4em;
}
#exportXMLDiv{
    width: 20%;
    text-align: right;
    display: inline-block;
    float: right;
}
#searchDiv{
    width: 70%;
    display: inline-block;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
