@{
    ViewData["Title"] = "Sikeres Adatfelvétel";
}
<div class="insetContent">
    <p>Sikeres adatfelvétel!</p>
    <a asp-area="" asp-controller="Home" asp-action="Index">Vissza a főoldalra</a>
</div>